[submodule "lua-resty-openapi-validate"]
	path = lua-resty-openapi-validate
	url = git@github.com:api7/lua-resty-openapi-validate.git
[submodule "lua-resty-aws-s3"]
	path = lua-resty-aws-s3
	url = https://github.com/api7/lua-resty-aws-s3.git
[submodule "OpenAPI2MCP"]
	path = OpenAPI2MCP
	url = git@github.com:api7/OpenAPI2MCP.git
[submodule "lua-resty-azure-blob"]
	path = lua-resty-azure-blob
	url = https://github.com/api7/lua-resty-azure-blob.git
