name: Ubuntu

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  pull_request:
    types: [labeled, synchronize]
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    if: |
      contains(github.event.pull_request.labels.*.name, 'ci-3.2') ||
      contains(github.event.pull_request.labels.*.name, 'ci-gateway-all') ||
      github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        platform:
          - buildjet-4vcpu-ubuntu-2004
        os_name:
          - linux_openresty
        test_dir:
          - t/plugin/[a-k]*
          - t/plugin/[l-z]*
          - t/admin t/api7-agent t/cli t/config-center-yaml t/control t/core t/debug t/deployment t/discovery t/misc
          - t/node t/pubsub t/router t/script t/secret t/stream-node t/utils t/wasm t/xds-library t/xrpc

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 90
    env:
      SERVER_NAME: ${{ matrix.os_name }}
      OPENRESTY_VERSION: default
      abt_branch: apisix-base/1.21.4.2.2

    steps:
      - name: Check out code
        uses: actions/checkout@v3.2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          make init_apisix
          make patch_apisix

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install custom module
        run: |
          make install
          cd workbench
          sed -i 's/API7\//APISIX\//' apisix/init.lua

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.17"

      - name: Cache deps
        uses: actions/cache@v3
        env:
          cache-name: cache-deps
        with:
          path: workbench/deps
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ matrix.os_name }}-${{ hashFiles('./workbench/rockspec/apisix-master-0.rockspec') }}

      - name: Extract branch name
        if: ${{ startsWith(github.ref, 'refs/heads/release/') }}
        id: branch_env
        shell: bash
        run: |
          echo "version=${GITHUB_REF##*/}" >>$GITHUB_OUTPUT
          echo "fullname=apache-apisix-${GITHUB_REF##*/}-src.tgz" >>$GITHUB_OUTPUT

      - name: Extract test type
        shell: bash
        id: test_env
        run: |
          test_dir="${{ matrix.test_dir }}"
          if [[ $test_dir =~ 't/plugin' ]]; then
            echo "type=plugin" >>$GITHUB_OUTPUT
          fi
          if [[ $test_dir =~ 't/admin ' ]]; then
            echo "type=first" >>$GITHUB_OUTPUT
          fi
          if [[ $test_dir =~ ' t/xrpc' ]]; then
            echo "type=last" >>$GITHUB_OUTPUT
          fi

      - name: Free disk space
        run: |
          cd workbench
          bash ./ci/free_disk_space.sh

      - name: Set hostname
        run: |
          sudo hostnamectl set-hostname ubuntu
          sudo sh -c 'echo "127.0.1.1   $(hostname)" >> /etc/hosts'

      - name: Linux launch common services
        run: |
          cd workbench
          make ci-env-up project_compose_ci=ci/pod/docker-compose.common.yml
          sudo ./ci/init-common-test-service.sh
          sudo ./ci/utils/linux-common-runnner.sh install_deps
          sudo ./ci/utils/linux-common-runnner.sh start_sse_server_example

      - name: Cache images
        id: cache-images
        uses: actions/cache@v3
        env:
          cache-name: cache-apisix-docker-images
        with:
          path: workbench/docker-images-backup
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ steps.test_env.outputs.type }}-${{ hashFiles(format('./workbench/ci/pod/docker-compose.{0}.yml', steps.test_env.outputs.type )) }}

      - if: ${{ steps.cache-images.outputs.cache-hit == 'true' }}
        name: Load saved docker images
        run: |
          cd workbench
          if [[ -f docker-images-backup/apisix-images.tar ]]; then
            [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh before
            docker load --input docker-images-backup/apisix-images.tar
            echo "loaded docker images"
            # preserve storage space
            rm docker-images-backup/apisix-images.tar
            make ci-env-up project_compose_ci=ci/pod/docker-compose.${{ steps.test_env.outputs.type }}.yml
            if [[ ${{ steps.test_env.outputs.type }} != first ]]; then
              sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh after
            fi
          fi

      - if: ${{ steps.cache-images.outputs.cache-hit != 'true' }}
        name: Linux launch services
        run: |
          cd workbench
          [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh before
          [[ ${{ steps.test_env.outputs.type }} == plugin ]] && ./ci/pod/openfunction/build-function-image.sh
          make ci-env-up project_compose_ci=ci/pod/docker-compose.${{ steps.test_env.outputs.type }}.yml
          [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh after
          echo "Linux launch services, done."

      - name: Start Dubbo Backend
        if: matrix.os_name == 'linux_openresty' && steps.test_env.outputs.type == 'plugin'
        run: |
          cd workbench
          sudo apt-get update
          sudo apt install -y maven
          cd t/lib/dubbo-backend
          mvn package
          cd dubbo-backend-provider/target
          java -Djava.net.preferIPv4Stack=true -jar dubbo-demo-provider.one-jar.jar > /tmp/java.log &

      - name: Build xDS library
        if: steps.test_env.outputs.type == 'last'
        run: |
          cd workbench
          cd t/xds-library
          go build -o libxds.so -buildmode=c-shared main.go export.go

      - name: Build wasm code
        if: matrix.os_name == 'linux_openresty' && steps.test_env.outputs.type == 'last'
        run: |
          cd workbench
          export TINYGO_VER=0.20.0
          wget https://github.com/tinygo-org/tinygo/releases/download/v${TINYGO_VER}/tinygo_${TINYGO_VER}_amd64.deb 2>/dev/null
          sudo dpkg -i tinygo_${TINYGO_VER}_amd64.deb
          cd t/wasm && find . -type f -name "*.go" | xargs -Ip tinygo build -o p.wasm -scheduler=none -target=wasi p

      - name: Linux Before install
        run: |
          cd workbench
          sudo ./ci/${{ matrix.os_name }}_runner.sh before_install

      - name: Linux Install
        run: |
          cd workbench
          sudo --preserve-env=OPENRESTY_VERSION,abt_branch \
          ./ci/${{ matrix.os_name }}_runner.sh do_install

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.21.3"

      - name: Install lua-resty-openapi-validate
        run: |
          ./ci/utils/install-lua-resty-openapi-validate.sh workbench

      # The length of the working directory path for buildjet is too long.
      # which will exceed the operating system's limit for the complete path of apisix config_listen.sock.
      - name: Move workbench to /tmp
        run: |
          sudo mv ./workbench /tmp

      - name: Linux Script
        working-directory: /tmp/workbench
        env:
          TEST_FILE_SUB_DIR: ${{ matrix.test_dir }}
        run: |
          sudo -E ./ci/${{ matrix.os_name }}_runner.sh script

      - if: ${{ steps.cache-images.outputs.cache-hit != 'true' }}
        working-directory: /tmp/workbench
        name: Save docker images
        run: |
          echo "start backing up, $(date)"
          bash ./ci/backup-docker-images.sh ${{ steps.test_env.outputs.type }}
          echo "backup done, $(date)"
