name: Build docker images on commit and push them to registry
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
permissions: read-all
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Set image tag
        run: |
          echo "IMAGE_TAG=`git rev-parse --short HEAD`-`TZ=Asia/Shanghai date '+%m%d%H%M'`" >> $GITHUB_ENV

      - name: Set VERSION image tag
        id: version
        run: |
          VERSION=$(cat ./apisix/core/version.lua | grep -o 'VERSION = "[^"]*"' | awk -F'"' '{print $2}')
          echo "GATEWAY_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.PRIVATE_DOCKER_REGISTRY }}
          username: ${{ secrets.PRIVATE_DOCKER_USERNAME }}
          password: ${{ secrets.PRIVATE_DOCKER_PASSWORD }}

      - name: Build Images With Dev Tag
        env:
          REGISTRY: ${{ secrets.PRIVATE_DOCKER_REGISTRY }}
          REGISTRY_NAMESPACE: api7-dev
          IMAGE_TAG: dev
        run: |
          make build-image

      - name: Build Images With Commit Tag
        env:
          REGISTRY: ${{ secrets.PRIVATE_DOCKER_REGISTRY }}
          REGISTRY_NAMESPACE: api7-dev
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
        run: |
          make build-image
