name: CI Centos7

on:
  push:
    branches: [main, 'release/**']
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  pull_request:
    branches: [main, 'release/**']
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test_apisix:
    name: run ci on centos7
    runs-on: ubuntu-20.04
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        test_dir:
          - t/plugin/[a-k]*
          - t/plugin/[l-z]*
          - t/admin t/cli t/config-center-yaml t/control t/core t/debug t/deployment t/discovery t/error_page t/misc
          - t/node t/pubsub t/router t/script t/secret t/stream-node t/utils t/wasm t/xds-library

    steps:
    - name: Check out code
      uses: actions/checkout@v3.2.0
      with:
        token: ${{ secrets.PERSONAL_TOKEN }}
        submodules: recursive

    - name: Check APISIX repo
      run: |
        make init_apisix
        make patch_apisix
        make install

    - name: Setup Go Environment
      uses: actions/setup-go@v3
      with:
        go-version: '1.21.3'

    - name: Install lua-resty-openapi-validate
      run: |
        ./ci/utils/install-lua-resty-openapi-validate.sh

    - name: Extract branch name
      if: ${{ startsWith(github.ref, 'refs/heads/release/') }}
      id: branch_env
      shell: bash
      run: |
        echo "version=${GITHUB_REF##*/}" >>$GITHUB_OUTPUT

    - name: Extract test type
      shell: bash
      id: test_env
      run: |
        test_dir="${{ matrix.test_dir }}"
        if [[ $test_dir =~ 't/plugin' ]]; then
          echo "type=plugin" >>$GITHUB_OUTPUT
        fi
        if [[ $test_dir =~ 't/admin ' ]]; then
          echo "type=first" >>$GITHUB_OUTPUT
        fi
        if [[ $test_dir =~ ' t/xds-library' ]]; then
          echo "type=last" >>$GITHUB_OUTPUT
        fi

    - name: Free disk space
      run: |
        cd workbench
        bash ./ci/free_disk_space.sh

    - name: Linux launch common services
      run: |
        cd workbench
        make ci-env-up project_compose_ci=ci/pod/docker-compose.common.yml
        sudo ./ci/init-common-test-service.sh

    - name: Start Dubbo Backend
      run: |
        sudo apt-get update
        sudo apt install -y maven
        cd ./workbench/t/lib/dubbo-backend
        mvn package
        cd dubbo-backend-provider/target
        java -Djava.net.preferIPv4Stack=true -jar dubbo-demo-provider.one-jar.jar > /tmp/java.log &

    - name: Build xDS library
      if: steps.test_env.outputs.type == 'last'
      run: |
        cd workbench
        cd t/xds-library
        go build -o libxds.so -buildmode=c-shared main.go export.go

    - name: Build wasm code
      working-directory: workbench
      run: |
        export TINYGO_VER=0.30.0
        wget https://github.com/tinygo-org/tinygo/releases/download/v${TINYGO_VER}/tinygo_${TINYGO_VER}_amd64.deb 2>/dev/null
        sudo dpkg -i tinygo_${TINYGO_VER}_amd64.deb
        cd t/wasm && find . -type f -name "*.go" | xargs -Ip tinygo build -o p.wasm -scheduler=none -target=wasi p

    - name: Run centos7 docker and mapping apisix into container
      env:
        TEST_FILE_SUB_DIR: ${{ matrix.test_dir }}
      run: |
        docker run -itd -v ${{ github.workspace }}/workbench:/apisix --env TEST_FILE_SUB_DIR="$TEST_FILE_SUB_DIR" --name centos7Instance --net="host" --dns 8.8.8.8 --dns-search apache.org docker.io/centos:7 /bin/bash
        # docker exec centos7Instance bash -c "cp -r /tmp/apisix ./"

    - name: Cache images
      id: cache-images
      uses: actions/cache@v3
      env:
        cache-name: cache-apisix-docker-images
      with:
        path: docker-images-backup
        key: ${{ runner.os }}-${{ env.cache-name }}-${{ steps.test_env.outputs.type }}-${{ hashFiles(format('./ci/pod/docker-compose.{0}.yml', steps.test_env.outputs.type )) }}

    - if: ${{ steps.cache-images.outputs.cache-hit == 'true' }}
      name: Load saved docker images
      run: |
        if [[ -f docker-images-backup/apisix-images.tar ]]; then
          cd workbench
          [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh before
          docker load --input docker-images-backup/apisix-images.tar
          rm docker-images-backup/apisix-images.tar
          make ci-env-up project_compose_ci=ci/pod/docker-compose.${{ steps.test_env.outputs.type }}.yml
          echo "loaded docker images"
          if [[ ${{ steps.test_env.outputs.type }} != first ]]; then
            sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh after
          fi
        fi
    - if: ${{ steps.cache-images.outputs.cache-hit != 'true' }}
      name: Linux launch services
      run: |
        cd workbench
        [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh before
        [[ ${{ steps.test_env.outputs.type }} == plugin ]] && ./ci/pod/openfunction/build-function-image.sh
        make ci-env-up project_compose_ci=ci/pod/docker-compose.${{ steps.test_env.outputs.type }}.yml
        [[ ${{ steps.test_env.outputs.type }} != first ]] && sudo ./ci/init-${{ steps.test_env.outputs.type }}-test-service.sh after
        echo "Linux launch services, done."

    - name: Install dependencies
      run: |
        docker exec centos7Instance bash -c "cd apisix && chmod a+x ./ci/centos7-ci.sh && ./ci/centos7-ci.sh install_dependencies"
        docker cp  ./deps  centos7Instance:/apisix/

    - name: Run test cases
      run: |
        docker exec centos7Instance bash -c "cd apisix && ./ci/centos7-ci.sh run_case"

    - if: ${{ steps.cache-images.outputs.cache-hit != 'true' }}
      name: Save docker images
      run: |
        cd workbench
        echo "start backing up, $(date)"
        bash ./ci/backup-docker-images.sh ${{ steps.test_env.outputs.type }}
        echo "backup done, $(date)"
