name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    types: [labeled, synchronize]
    branches:
      - "main"

jobs:
  unit-test:
    if: |
      contains(github.event.pull_request.labels.*.name, 'ci-unit-test') ||
      contains(github.event.pull_request.labels.*.name, 'ci-gateway-all') ||
      github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        platform:
          - buildjet-2vcpu-ubuntu-2004
        job_name:
          - linux_openresty

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 90

    steps:
      - name: Check out APISIX plugins
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          sudo make init_apisix
          sudo make patch_apisix

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.21.3"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install lua-resty-openapi-validate
        run: |
          ./ci/utils/install-lua-resty-openapi-validate.sh workbench

      - name: Install custom module
        run: |
          sudo make install

      - name: Launch APISIX common services
        run: |
          sudo make ci-env-up project_compose_ci=ci/pod/docker-compose.common.yml
          sudo make ci-env-up project_compose_ci=ci/pod/docker-compose.yml
        working-directory: workbench

      - name: Linux Get dependencies
        run: |
          sudo apt-get update -y
          sudo apt install -y cpanminus build-essential libncurses5-dev libreadline-dev libssl-dev perl libpcre3 libpcre3-dev libldap2-dev

      - name: Linux Before install
        run: |
          sudo ./ci/${{ matrix.job_name }}_runner.sh before_install
        working-directory: workbench

      - name: Linux Do install
        run: |
          sudo ./ci/${{ matrix.job_name }}_runner.sh do_install
        working-directory: workbench

      # The length of the working directory path for buildjet is too long,
      # which will exceed the operating system's limit for the complete path of apisix config_listen.sock.
      - name: Move workbench to /tmp
        run: |
          sudo mv ./workbench /tmp

      - name: Run test case
        run: |
          sudo ./ci/utils/linux-common-runnner.sh install_deps
          sudo ./ci/utils/linux-common-runnner.sh test_env
          sudo ./ci/utils/linux-common-runnner.sh run_case
        working-directory: /tmp/workbench
