name: Code Lint

on:
  pull_request:
    types: [labeled, synchronize]
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

permissions:
  contents: read

jobs:
  lint:
    if: |
      contains(github.event.pull_request.labels.*.name, 'ci-3.2') ||
      contains(github.event.pull_request.labels.*.name, 'ci-gateway-all') ||
      github.ref == 'refs/heads/main'
    runs-on: buildjet-2vcpu-ubuntu-2004
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v3.2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          make init_apisix
          make patch_apisix
          make install

      - name: Install lua-resty-openapi-validate
        run: |
          ./ci/utils/install-lua-resty-openapi-validate.sh

      - name: Install
        working-directory: workbench
        run: |
          . ./ci/common.sh
          export_or_prefix
          export OPENRESTY_VERSION=default

          sudo -E ./ci/linux-install-openresty.sh
          ./utils/linux-install-luarocks.sh
          sudo luarocks install --only-server https://raw.githubusercontent.com/rocks-moonscript-org/moonrocks-mirror/daab2726276e3282dc347b89a42a5107c3500567 luacheck

      - name: Script
        working-directory: workbench
        run: |
          . ./ci/common.sh
          export_or_prefix
          cp ../utils/lj-releng ./utils/
          make lint


  sc-lint:
    if: |
      contains(github.event.pull_request.labels.*.name, 'ci-3.2') ||
      contains(github.event.pull_request.labels.*.name, 'ci-gateway-all') ||
      github.ref == 'refs/heads/main' ||
      github.ref == 'refs/heads/release'
    runs-on: buildjet-2vcpu-ubuntu-2004
    timeout-minutes: 5
    steps:
      - name: Check out code
        uses: actions/checkout@v3.2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          make init_apisix
          make patch_apisix
          make install

      - name: Shellcheck code
        working-directory: workbench
        run: |
          scversion="latest"
          wget -qO- "https://github.com/koalaman/shellcheck/releases/download/${scversion?}/shellcheck-${scversion?}.linux.x86_64.tar.xz" | tar -xJv
          cp -av "shellcheck-${scversion}/shellcheck" /usr/local/bin/
          shellcheck --version
          git ls-files -- "*.sh" | grep -v -E "t/cli/test_deployment_mtls.sh|t/cli/test_etcd_grpc.sh|t/cli/test_etcd_grpc_healthcheck.sh|t/cli/test_etcd_grpc_mtls.sh|t/cli/test_etcd_grpc_tls.sh|ci/linux_openresty_tongsuo_runner.sh" | xargs -t shellcheck
