name: Code Lint

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

permissions:
  contents: read

jobs:
  lint:
    runs-on: buildjet-2vcpu-ubuntu-2004
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v3.2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          make init_apisix
          make patch_apisix
          make install

      - name: Install lua-resty-openapi-validate
        run: |
          ./ci/utils/install-lua-resty-openapi-validate.sh

      - name: Install
        working-directory: workbench
        run: |
          . ./ci/common.sh
          export_or_prefix
          export OPENRESTY_VERSION=default

          ./ci/linux-install-openresty.sh
          ./utils/linux-install-luarocks.sh
          sudo luarocks install luacheck

      - name: Script
        working-directory: workbench
        run: |
          . ./ci/common.sh
          export_or_prefix
          make lint

  sc-lint:
    runs-on: buildjet-2vcpu-ubuntu-2004
    timeout-minutes: 5
    steps:
      - name: Check out code
        uses: actions/checkout@v3.2.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Check out APISIX repo
        run: |
          make init_apisix
          make patch_apisix
          make install

      - name: Shellcheck code
        working-directory: workbench
        run: |
          scversion="latest"
          wget -qO- "https://github.com/koalaman/shellcheck/releases/download/${scversion?}/shellcheck-${scversion?}.linux.x86_64.tar.xz" | tar -xJv
          cp -av "shellcheck-${scversion}/shellcheck" /usr/local/bin/
          shellcheck --version
          git ls-files -- "*.sh" | xargs -t shellcheck
