name: Build And Push Release Google Cloud Image
on:
  push:
    tags:
      - "**"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
permissions: read-all

env:
  PROJECT_ID: evident-syntax-382106
  GAR_LOCATION: us-west1
  REPOSITORY: api7
  IMAGE: api7-gateway

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Set image tag
        id: version
        run: |
          VERSION=$(cat ./apisix/core/version.lua | grep -o 'VERSION = "[^"]*"' | awk -F'"' '{print $2}')
          echo "GATEWAY_VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build Images
        env:
          IMAGE_TAG: ${{ steps.version.outputs.GATEWAY_VERSION }}
        run: |
          docker build -t api7-ee-3-gateway:$IMAGE_TAG .
          echo -e "FROM api7-ee-3-gateway:$IMAGE_TAG\nCOPY --chown=apisix:apisix ./conf/config-gateway.yaml /usr/local/apisix/conf/config.yaml" > Dockerfile.gateway
          docker build -t "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:$IMAGE_TAG" -f Dockerfile.gateway .

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.6.0'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          token_format: 'access_token'

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'

      - name: Push Images
        env:
          IMAGE_TAG: ${{ steps.version.outputs.GATEWAY_VERSION }}
        run: |
          docker push "$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:$IMAGE_TAG"
