name: Build And Push Release Docker Image
on:
  push:
    tags:
      - "**"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
permissions: read-all
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3

      - name: Set image tag
        id: version
        run: |
          cat ./VERSION >> $GITHUB_OUTPUT

      - name: Build Images
        run: |
          docker build -t api7-ee-3-gateway:dev .

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Images
        env:
          REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
          IMAGE_TAG: ${{ steps.version.outputs.GATEWAY_VERSION }}
        run: |
          docker tag api7-ee-3-gateway:dev $REGISTRY/api7/api7-ee-3-gateway:$IMAGE_TAG
          docker push $REGISTRY/api7/api7-ee-3-gateway:$IMAGE_TAG
