name: Scan Image Vulnerability
on:
  pull_request:
    types: [opened, labeled, synchronize]
    branches:
      - main
      - "release/**"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
permissions: read-all

env:
  PROJECT_ID: evident-syntax-382106
  GAR_LOCATION: us-west1
  REPOSITORY: api7

jobs:
  build-and-push:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'scan-image') || startsWith(github.event.pull_request.base.ref, 'release/') }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          submodules: recursive

      - name: Build Images
        run: |
          docker build -t api7-ee-3-gateway:dev .

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2.1.8'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
          token_format: 'access_token'

      - name: Login to Registry
        uses: docker/login-action@v1
        with:
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'

      - name: Scan Image
        env:
          GCP_ACCESS_TOKEN: '${{ steps.auth.outputs.access_token }}'
        run: |
          IMAGE="$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/api7-ee-3-gateway:dev"
          docker tag api7-ee-3-gateway:dev $IMAGE
          docker push $IMAGE
          DIGEST=$(docker inspect $IMAGE | jq '.[0].RepoDigests[0]' -r)

          echo "# Image Vulnerability Summary" >> vulnerability-report.comment
          echo "| Severity | Count |" >> vulnerability-report.comment
          echo "|:--------:|:-----:|" >> vulnerability-report.comment

          until cat resp.json | grep counts
          do
            curl -H "Authorization: Bearer $GCP_ACCESS_TOKEN" "https://containeranalysis.googleapis.com/v1/projects/$PROJECT_ID/occurrences:vulnerabilitySummary?filter=(resource_url=%22https://$DIGEST%22)" -v --output resp.json
            cat resp.json
            cat resp.json | jq -r '.counts[] | "| \(.severity) | \(.totalCount) |"' >> vulnerability-report.comment || true
            sleep 1
          done

          echo >> vulnerability-report.comment
          echo "Navigate to [GCP Console](https://console.cloud.google.com/artifacts/docker/$PROJECT_ID/$GAR_LOCATION/$REPOSITORY/api7-ee-3-gateway/${DIGEST##*@};tab=vulnerabilities?authuser=1) to view detail." >> vulnerability-report.comment
          cat *.comment

      - uses: mshick/add-pr-comment@v2
        if: always()
        with:
          message-path: |
            *.comment
